{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="form-box">
        <form class="form" method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <span class="title">Sign up</span>
            <span class="subtitle">Create a free account with your email.</span>
            <div class="form-container">
                <div class="input-container">
                    <input type="text" name="full_name" id="full_name" placeholder="Enter your full name" required>
                    {% if form.full_name.errors %}
                        <div class="error-message">
                            {% for error in form.full_name.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="input-container">
                    <input type="email" name="email" id="email" placeholder="Enter your email" required>
                    {% if form.email.errors %}
                        <div class="error-message">
                            {% for error in form.email.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="input-container">
                    <input type="password" name="password1" id="password1" placeholder="Enter your password" required>
                    {% if form.password1.errors %}
                        <div class="error-message">
                            {% for error in form.password1.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="input-container">
                    {{ form.password2|add_class:"form-input" }} 
                    <input type="password" name="password2" id="password2" placeholder="Confirm your password" required>
                    {% if form.password2.errors %}
                        <div class="error-message">
                            {% for error in form.password2.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <button type="submit">Sign up</button>

            <div class="form-section">
                <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
            </div>
        </form>
    </div>
</body>
</html>
